name = "image.deep_learning.object_detection"
version = "1.0.0"
display_name = "Object Detection"
description = "Detect objects in image using deep learning models"
order = 10
gui = ["reactflow", "headless"]
measure_time = true

[[ports]]
name = "image"
data_type = "image"
direction = "inout"

[[ports]]
name = "result_json"
data_type = "string"
direction = "out"
preview = false

[[properties]]
name = "score_threshold"
display_name = "Score Th"
type = "float"
default = 0.3
widget = "slider"
min = 0.0
max = 1.0
step = 0.01

[[properties]]
name = "use_motpy"
display_name = "Use motpy"
type = "bool"
default = false
widget = "checkbox"

[[properties]]
name = "motpy_min_iou"
display_name = "motpy Min IOU"
type = "float"
default = 0.2
widget = "slider"
min = 0.0
max = 1.0
step = 0.01
visible_when = { property = "use_motpy", values = [true] }

[[properties]]
name = "motpy_multi_match_min_iou"
display_name = "motpy Multi IOU"
type = "float"
default = 0.9
widget = "slider"
min = 0.0
max = 1.0
step = 0.01
visible_when = { property = "use_motpy", values = [true] }

[[properties]]
name = "use_sahi"
display_name = "Use SAHI"
type = "bool"
default = false
widget = "checkbox"

[[properties]]
name = "sahi_slice_width"
display_name = "SAHI Slice W"
type = "int"
default = 320
widget = "slider"
min = 64
max = 640
step = 32
visible_when = { property = "use_sahi", values = [true] }

[[properties]]
name = "sahi_slice_height"
display_name = "SAHI Slice H"
type = "int"
default = 320
widget = "slider"
min = 64
max = 640
step = 32
visible_when = { property = "use_sahi", values = [true] }

[[properties]]
name = "sahi_overlap_ratio"
display_name = "SAHI Overlap"
type = "float"
default = 0.2
widget = "slider"
min = 0.0
max = 0.5
step = 0.05
visible_when = { property = "use_sahi", values = [true] }

[[properties]]
name = "model"
display_name = "Model"
type = "int"
default = 0
widget = "dropdown"
disabled_while_streaming = true
options = [
    { value = 0, label = "DEIMv2-Atto(COCO)" },
    { value = 1, label = "DEIMv2-Femto(COCO)" },
    { value = 2, label = "DEIMv2-Pico(COCO)" },
    { value = 3, label = "DEIMv2-N(COCO)" },
    { value = 4, label = "DEIMv2-S(COCO)" },
    { value = 5, label = "DEIMv2-Wholebody34-Atto" },
    { value = 6, label = "DEIMv2-Wholebody34-Femto" },
    { value = 7, label = "DEIMv2-Wholebody34-Pico" },
    { value = 8, label = "DEIMv2-Wholebody34-N" },
    { value = 9, label = "DEIMv2-Wholebody34-S" },
]

[[properties]]
name = "use_gpu"
display_name = "Use GPU"
type = "bool"
default = true
widget = "checkbox"
disabled_while_streaming = true
requires_gpu = true
