pydantic
platformdirs
fastapi
python-multipart
uvicorn[standard]
opencv-python
motpy
sahi
onnx
onnxruntime-gpu
mediapipe
sounddevice
soundfile
webrtcvad-wheels
scipy
av
openai
aiortc
websocket-client
google-cloud-speech